version: '3.7'
services:
  studyathome:
    image: node:12.22.3-alpine
    command: /bin/sh -c "yarn install && yarn run dev"
    working_dir: /app
    ports:
      - 3000:3000
    volumes:
      - .:/app
    environment:
      - HOST=0.0.0.0
      - NODE_ENV=development
