// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$color-base-color-01: rgba(0, 113, 194, 1);
$color-base-color-02: rgba(51, 141, 206, 1);
$color-pink: rgba(192, 27, 97, 1);
$color-green: rgba(19, 137, 69, 1);
$color-white: rgba(255, 255, 255, 1);
$color-yellow: rgba(255, 219, 108, 1);
$color-gray: rgba(66, 66, 66, 1);
$color-base-color-04: rgba(165, 216, 255, 1);
$color-subject-color-01: rgba(150, 242, 215, 1);
$color-subject-color-02: rgba(216, 245, 162, 1);
$color-subject-color-03: rgba(255, 216, 168, 1);
$color-subject-color-04: rgba(255, 201, 201, 1);
$color-subject-color-05: rgba(252, 194, 215, 1);
$color-subject-color-06: rgba(238, 190, 250, 1);
$color-subject-color-07: rgba(208, 191, 255, 1);
$color-subject-color-08: rgba(186, 200, 255, 1);
$color-base-color-03: rgba(77, 171, 247, 1);
$color-subject-color-09: rgba(56, 217, 169, 1);
$color-subject-color-10: rgba(169, 227, 75, 1);
$color-subject-color-11: rgba(255, 169, 77, 1);
$color-subject-color-12: rgba(255, 135, 135, 1);
$color-subject-color-13: rgba(247, 131, 172, 1);
$color-subject-color-14: rgba(218, 119, 242, 1);
$color-subject-color-15: rgba(151, 117, 250, 1);
$color-subject-color-16: rgba(116, 143, 252, 1);
$color-base-color-06: rgba(1, 89, 152, 1);
$color-base-color-07: rgba(0, 65, 112, 1);
$color-back-gray: rgba(243, 243, 243, 1);
$color-grey-inactive: rgba(170, 170, 170, 1);
